@font-face {
    font-family: "Psychotic Elephant Headline";
    src: url(PsychoticElephantHeadline.ttf) format("truetype");
}

@font-face {
    font-family: "Psychotic Elephant";
    src: url(PsychoticElephantText.ttf) format("truetype");
}

body{
	background-color: #090909;
	color: white;
}

header{
	font-family:"Psychotic Elephant", serif;
	text-align: center;
}

footer{
	text-align:center;
	color: #F2F2F2;
}

.footer-link{
	text-decoration: none;
}

.primary-header{
	font-size: 10vw;
	color: #F2F2F2;
}

.secondary-header{
	font-size: 5vw;
	color: #F2F2F2;
}

.main-pic{
	display: block;
	margin: 0 auto;
	width: 100%;
}

.bio{
	margin-top:15px;
	margin-bottom:15px;
	display:flex;
	flex-wrap:wrap;
	align-items: center;
	justify-content: center;
}

.bio-card{
	min-height:250px;
	max-height:250px;
	min-width:300px;
	max-width:300px;

	background-color:#DADADA;
	color:black;
	border:double 8px black;
	border-radius: 10px;
/*	box-shadow:0px 5px 5px grey;
*/
	margin:15px 20px;
}

.bio-card hr{
	margin:0px 10px;
}

.bio-card-header{
	font-size:32px;
	margin:10px;
}

.bio-card-body{
	font-size:16px;
	margin:10px;
}